:root {
  --primary-color: #adcad6;
  --secondary-color: #f18f01;
  --tertiary-color: #99c24d;
}

body {
  color: var(--primary-color);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 2.95rem;
}

h2 {
  font-size: 2.1rem;
  color: var(--secondary-color);
  padding: 50px, 0;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: var(--tertiary-color);
}

img {
  border-style: solid;
  border-width: 6px;
  border-color: var(--secondary-color);
}
